.logo {
    color:red;
    border 
}
.menu {margin-top: 20px;}
.menu a {
    border: 10px solid springgreen;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
